{% extends 'layout.html.twig' %}

{% block body %}
<h1>Geocoder as a Service</h1>

<p>
    The power of <a href="http://geocoder-php.org/Geocoder/">Geocoder</a> exposed in an API.
</p>

<h2>Usage</h2>

<p>
    You can use AJAX or another method to call the API and geocode addresses.
</p>

<pre><code>$.ajax({
    url: '{{ app.url_generator.generate('api_location', {}, true) }}',
    data: {address: '36 Quai des Orfèvres, Paris, France'},
    dataType: 'json',
    success: function(data) {
        console.log(data);
    }
});
</code></pre>

<h3>Geocoding an address</h3>

A street address can be geocoded using the "<code>address</code>" GET parameter:

<pre><code>{{ app.url_generator.generate('api_location') }}?<strong>address=36 Quai des Orfèvres, Paris, France</strong></code></pre>

<h3>Geocoding an IP</h3>

A IP address can be geocoded using the "<code>ip</code>" GET parameter:

<pre><code>{{ app.url_generator.generate('api_location') }}?<strong>ip=8.8.8.8</strong></code></pre>

<h3>Reversing coordinates</h3>

Coordinates can be reversed using the "<code>latitude</code>" and
"<strong>longitude</strong>" GET parameters:

<pre><code>{{ app.url_generator.generate('api_location') }}?<strong>latitude=48.8552897&amp;longitude=2.3433325</strong></code></pre>


<h2>Results</h2>

By default, the location data returned by the API respects the following
structure:

<pre><code>{
    "latitude": 48.8552897,
    "longitude": 2.3433325,
    "bounds": {
        "south": 48.8552897,
        "west": 2.3433325,
        "north": 48.8552897,
        "east": 2.3433325
    },
    "streetNumber": "36",
    "streetName": "Quai Des Orfèvres",
    "zipcode": "75001",
    "city": "Paris",
    "cityDistrict": "1St Arrondissement Of Paris",
    "county": "Paris",
    "countyCode": "75",
    "region": "Île-De-France",
    "regionCode": "IDF",
    "country": "France",
    "countryCode": "FR",
    "timezone": null

}
</code></pre>

<h2>Choosing a provider</h2>

<p>
    Right now, only the providers not requiring any API key are supported. For
    any request, the provider to use can be specified using the "<code>provider</code>" GET
    parameter:
</p>

<pre><code>{{ app.url_generator.generate('api_location') }}?<strong>provider=google_maps</strong>&amp;address=...</code></pre>

<p>
    By default, the "<code>chain</code>" — configured with all the available
    providers — provider is used.
</p>

<p>
    See <a href="http://geocoder-php.org/Geocoder/">the Geocoder documentation</a>
    for a list of available adapters and providers.
</p>

<h2>Licence</h2>

<p>
    Geocoder as a Service is released under the MIT License. See the bundled
    LICENSE file for details.
</p>

{% endblock %}
